body, html{
	width: 100%;
	height: auto;
	background-color: white;
	font-family: 'Sedgwick Ave', cursive;
	color:black;

}
.jumbotron{
    color:white;
    text-align: center;
    margin: 0px;
    min-height: 85vh;
    padding: 0px;
    background: url('../images/wall-paint.jpg');

}
.overlay{
	position: relative;
	width: inherit;
	height: inherit;
	background-color: : rgba(255,255,255,.5);
	color: white;
}
canvas{
	width: inherit;
	height: 100%;
    margin-bottom: 0px;
    background-color: black;
}
nav, .navbar{
	position: -webkit-sticky;
	position: sticky;
	top:0px;
	z-index: 1;
	width: 100%;
   	font-family: 'Sedgwick Ave', cursive;
}
.nav-item{
	font-family: 'Sedgwick Ave', cursive;
	margin-right: 5px;
}
h1{
	text-decoration: underline;
}
p, li, h3,h4, h5{
	font-family: 'Muli', sans-serif, 'Titillium Web', sans-serif;

}

.container .row{
	border-bottom: black 1px solid;
	padding: 5vh 0px;
}

#about{
	width: 100%;
	height: auto;
	text-align: left;
	color: black;
}
#about h2{
	text-align: center;
}
#about h3{
		font-family: 'Sedgwick Ave', cursive;
}
#about h4{
	font-family: 'Sedgwick Ave', cursive;
	width: auto;
	height: auto;
}

#about .col .row{
	border-bottom: none;
	padding-bottom: 0px;
}
.modal button a{
	color:white;
	font-style: none;
}