body, html{
	width: 100%;
	height: auto;
	background-color: black;
	font-family: 'Sedgwick Ave', cursive;

}
.jumbotron{
    color:white;
    text-align: center;
    margin: 0px;
    min-height: 85vh;
    padding: 0px;
    background-color: black;

}
canvas{
	width: inherit;
	height: 100%;
    margin-bottom: 0px;
    background-color: black;
}
nav, .navbar{
	position: -webkit-sticky;
	position: sticky;
	top:0px;
	z-index: 1;
	width: 100%;
}
h1{
	text-decoration: underline;
}
p, li{
	font-family: 'Muli', sans-serif, 'Titillium Web', sans-serif;;
}

.school{
	width: 50%;
	height: auto;
	float:left;
}
.fa{
	font-size: 15px;
	padding: 5px;
	color:blue;
}
.icons a{
		margin: auto;
		font-style: none;
		color:black;
}

.card{
	margin-top: 5px;
}
@media screen and (min-width: 800px )and (max-width:1200px ){
	.fa{
		display: none;
	}
	#contact a{
		color:blue;
	}
}
@media screen and (min-width: 400) and(max-width: 800px ){
	.fa{
		visibility: visible;
		font-size: 20px;
	}
	#contact a{
		color:blue;
		font-size: 20px;
	}
}